<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                               <p>Often referred to as a jazz singer for the hip-hop generation, New York City-based vocalist José James combines jazz, soul, drum&#8217;n&#8217;bass, and spoken word into his own unique brand of vocal jazz. While he states his main influences as John Coltrane, Marvin Gaye, and Billie Holiday, his sound on early 12&#8243; singles and in live performances brought to mind such icons of &#8217;70s jazz-soul as Terry Callier, and his music felt more like an update of the fluid crossover approach of Gil Scott-Heron, while also being distinctly his own.</p>
<p>James released his full-length debut album, Dreamer, in 2008 on Gilles Peterson&#8217;s Brownswood imprint. The album ended up earning him accolades worldwide for its blend of jazz, electronic, soul, and pop styles. It placed at number 21 in Jazz Times&#8217; Top 50 for the year. Consequently, James played on prestigious stages all over the world, including those at the North Sea Jazz Festival, the Victoria Jazz Festival, Billboard Live Tokyo, Centro Cultural São Paolo, the Hermitage in St. Petersburg, Central Park Summerstage in New York, and London&#8217;s Royal Festival Hall. James made numerous guest appearances on recordings by the Junior Mance Trio, Jazzanova, Nicola Conte, Basement Jaxx, and Chico Hamilton, to name a few.</p>
<p>He followed Dreamer with Blackmagic in February of 2010. In May of that year, he also made his Impulse! debut with For All We Know, a collection of standards performed in duet with Belgian pianist Jef Neve. He toured relentlessly for the next year and a half, often sitting in with jazz musicians as well as headlining his own dates in Europe, Japan, and the United States. He signed to Blue Note Records in 2012, and issued &#8220;Trouble,&#8221; his first single for the label, in September of that year. His fourth album, No Beginning, No End, was released in January of 2013.</p>
<p>James began composing while on the road. New songs reflected a renewed interest in artists he listened to growing up (Nirvana, Radiohead) as well as newer ones who made an impression (Frank Ocean, James Blake). As a result, he cut While You Were Sleeping, a collection that reflected rock alongside R&amp;B and jazz. It was released in June of 2014.</p>
<p>In commemoration of Billie Holiday&#8217;s 100th birthday, the singer he claimed &#8212; from the very beginning of his career &#8212; as his &#8220;musical mother,&#8221; James recorded nine songs written or associated with her. He fronted a band that included pianist Jason Moran, bassist John Patitucci, and drummer Eric Harland. Yesterday I Had the Blues was produced by Blue Note label-head Don Was and released in March of 2015. In 2017,  José James was reborn as a powerful voice in contemporary R&amp;B on <em>Love in a Time of Madness</em>, his vibrant new album which was released on February 24. ~ Matt Collar &amp; Thom Jurek</p>
           
                </div>
            </div>
        </div>
    </section>
