<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/main.8eb72517.css">
    <script type="text/javascript" src="/assets/js/main.b9b80f05.js"></script>
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
    {% seo title=false %}
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
		   
        <div class="nav-wrapper">
          <div class="container_top"> 
	 <div class="language">
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  <a href="{{ pages[1].url | prepend: site.baseurl }}" class="{{ pages[1].lang }}">{{ pages[1].lang }}</a>  
  <a href="{{ pages[0].url | prepend: site.baseurl }}" class="{{ pages[0].lang }}">{{ pages[0].lang }}</a>  
  <a href="{{ pages[3].url | prepend: site.baseurl }}" class="{{ pages[3].lang }}">{{ pages[3].lang }}</a>  
   <a href="{{ pages[4].url | prepend: site.baseurl }}" class="{{ pages[4].lang }}">{{ pages[4].lang }}</a> 
  <a href="{{ pages[2].url | prepend: site.baseurl }}" class="{{ pages[2].lang }}">{{ pages[2].lang }}</a>  

 
  <a href="{{ pages[5].url | prepend: site.baseurl }}" class="{{ pages[5].lang }}">{{ pages[5].lang }}</a> 
   <a href="{{ pages[6].url | prepend: site.baseurl }}" class="{{ pages[6].lang }}">{{ pages[6].lang }}</a> 
   </div>
                    <div class="social-icons">
              <a href="mail: cyberglad@gmail.com" class="button button-icon" title="mail: cyberglad@gmail.com">
  <i class="fa fa-envelope"></i>
</a>

<a href="https://facebook.com/yuri.gladkov" class="button button-icon" title="facebook: yuri.gladkov">
  <i class="fa fa-facebook-square"></i>
</a>

<a href="https://twitter.com/cyberglad" class="button button-icon" title="twitter: @cyberglad">
  <i class="fa fa-twitter-square"></i>
</a>

<a href="https://github.com/cyberglad" class="button button-icon" title="github: cyberglad">
  <i class="fa fa-github-square"></i>
</a>

<a href="https://www.linkedin.com/in/yuri-gladkov" class="button button-icon" title="linkedin: yuri-gladkov">
  <i class="fa fa-linkedin-square"></i>
</a>

<!-- <a href="https://jtom.me/feed/blog.xml" title="Subscribe to Blog RSS feed">
  <i class="fa fa-rss-square"></i>
</a>
 -->

            </div>
          </div>

         
         
        </div>
      </nav>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <div class="background"></div>
            <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="/assets/images/userpic.png"></a>
            <span class="white-text name">{{site.user}}</span>
            <span class="white-text email">{{site.user_email}}</span>
            
          </div>
        </li>
          {% assign pages=site.pages | where:"lang", page.lang %}
          {% assign mypages=site.pages | where:"lang", page.lang %}
       {% for page in pages %}
    {% if page.title contains "Welcome"%}
      {{ mypages[0]=page }}
      {% else if page.title contains "Contact"%}
      {{ mypages[1]=page  }}
      {% else if page.title contains "Projects"%}
      {{ mypages[3]=page  }}
      {% else if page.title contains "CV"%}
      {{ mypages[4]=page  }}
      {% endif %}
     {% endfor %}
       {% for menu in site.t[page.lang] %}
       {% assign loopindex = forloop.index %}
       {% if loopindex == 1 %}
       <li><a class="waves-effect"  href="{{ menu[1].url }}"><i class="material-icons">home</i>{{ menu[1].name }}</a></li>
       {% endif %}
       {% if loopindex == 2 %}
       <li><a class="waves-effect"  href="{{ menu[1].url }}"><i class="material-icons">description</i>{{ menu[1].name }}</a></li>
       {% endif %}
       {% if loopindex == 3 %}
       <li><a class="waves-effect"  href="{{ menu[1].url }}"><i class="material-icons">sort</i>{{ menu[1].name }}</a></li>
       {% endif %}
       {% if loopindex == 4 %}
       <li><a class="waves-effect"  href="{{ menu[1].url }}"><i class="material-icons">label</i>{{ menu[1].name }}</a></li>
       {% endif %}
       {% if loopindex == 5 %}
       <li><a class="waves-effect"  href="{{ menu[1].url }}"><i class="material-icons">person</i>{{ menu[1].name }}</a></li>
       {% endif %}
       {% endfor %}
      </ul>
    </header>
    <main>
