<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-dark-gray">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading">Video</h2>
            <h3 class="section-subheading text-muted"> <p>Check out <a href="https://www.youtube.com/channel/UCIdgYPVJaj-quogXe_gX6Bw">Tom&#8217;
                                                s YouTube channel</a> for more videos &#8211;
                                                this is just a small selection.
                                             </p>
                                             <p><strong>My Top Videos</strong>
                                             </p>
                                             </h3>
         </div>
      </div>
      <div class="row">
		  <table style="width: 100%;">
<tbody>
<tr>
<td><iframe width="550" height="350" src="https://www.youtube.com/embed/LlKTs2BWQmc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
<td><iframe width="550" height="350" src="https://www.youtube.com/embed/5HYs2pNKie8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
</tr>
</tbody>
</table>
      </div>
   </div>
</section>
